@import "../../assets/variable.scss";


.menu-page {
    padding: 30px;

   .heading-section {
        text-align: center;
        padding-bottom: 30px;

        .heading {
            font-size: $heading-fontsize;
            padding-bottom: 30px;
        }

        .sub-heading {
            font-size: $sub-heading-fontsize;
        }
   }

   .body-section {
        .menu-expansion-panel {
            .menu-panel {
                margin: 10px 0;

                .menu-outer-title {
                    font-size: $title-fontsize;
                    font-weight: $dark;
                }
    
                .menu-outer-description {
                    font-size: $description-fontsize;
                    font-weight: $medium;
                }
    
                .menu-inner-section {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .details-section {
                        padding: 10px 0;

                        .name {
                            font-size: $sub-title-fontsize;
                            margin: 0;
                            padding-bottom: 5px;
                        }
    
                        .description {
                            font-size: $sub-description-fontsize;
                            margin: 0;
                            line-height: 1.4;
                        }
                    }
    
                    .pricing-section {
                        .icon {
                            font-size: $sub-title-fontsize;
                        }
    
                        .price {
                            font-size: $sub-title-fontsize;
                        }
                    }
                }
            }
        }
   }

   .tree-section {
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        border-radius: 4px;

        .mat-tree {
            border-radius: 4px;

            .outer-tree {
                // box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

                button {
                    border: none;
                    background: none;
                }
            }   
            
            .inner-tree {
                width: 100%;
                .quantity-input-field {
                    padding-left: 10%;
                }
            }
        }
   }
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }
  