//background color
$html-color:#ffffff;
$body-color:#ffffff;

//font-size
$body-fontsize: 14px;
$heading-fontsize: 26px;
$sub-heading-fontsize: 24px;
$title-fontsize: 20px;
$sub-title-fontsize: 16px;
$description-fontsize: 14px;
$sub-description-fontsize: 12px;

//font weight
$light: 200px;
$medium: 400px;
$dark: 600px;


$veg-background: -webkit-linear-gradient(#18c566, #333);
$non-veg-background: -webkit-linear-gradient(#F44336, #5e0404);
